/*code css*/

pre {
  font-family: 'Source Code Pro', sans-serif;
  background-color: #ffffff !important;
}

code {
  font-family: 'Source Code Pro', sans-serif;
  background-color: #ffffff !important;
}


code span {
  font-family: 'Source Code Pro', sans-serif;
}

p code {
  font-family: 'Source Code Pro', sans-serif;
}
