---
layout: default
title: Defining Definition
image: http://farm4.staticflickr.com/3730/11311122445_a2072bd993_o.jpg
home: define_type
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.categories.e limit: 12 %}
      <li>- <a href="{{ post.url }}">{{ post.title }}</a><span> &#64; {{ post.date | date_to_string }}</span></li>
    {% endfor %}
    <a href="/archives">>>> Load previous posts</a>
  </ul>
  <div style="margin-top: -15px;"></div>
  <h1>Korean Blog Posts</h1>
  <ul class="posts">
    {% for post in site.categories.k limit: 12 %}
      <li>- <a href="{{ post.url }}">{{ post.title }}</a><span> &#64; {{ post.date | date_to_string }}</span></li> 
    {% endfor %}
    <a href="/k">>>> Load previous posts</a>
  </ul>
</div>
