---
layout: default
title: Defining Definition
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
     {% if post.categories contains '' %}
      <li>- <a href="{{ post.url }}">{{ post.title }}</a><span id="post-date"> &#64; {{ post.date | date_to_string }}</span></li>
     {% endif %}
    {% endfor %}
  </ul>
  <h1>Korean Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
     {% if post.categories contains 'k' %}
      <li>- <a href="{{ post.url }}">{{ post.title }}</a><span id="post-date"> &#64; {{ post.date | date_to_string }}</span></li>  
     {% endif %} 
    {% endfor %}
  </ul>
</div>
