<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Defining Defination - {{ page.title }}</title>
        <meta property="fb:admins" content="openhiun" />
        <meta property="fb:app_id" content="533004283446886"/>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:url" content="{{ site.url}}{{ page.url }}" />
        {% if page.description %}
        <meta name="description" content="{{page.description}}" />
        {% else %}
        <meta name="description" content="{{site.description}}" />
        {% endif %}
        <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW" />


        <!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=144">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=114">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=72">
                <link rel="apple-touch-icon-precomposed" href="http://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=57">
                               <link rel="shortcut icon" href="/images/favicon.ico">
                                       <link href='http://www.openhiun.com{{ site.url}}{{ page.url }}' rel='canonical'/>
        <script src="/js/parallax.js"></script>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" type="text/css" href="/css/default.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/custom.css">

        <!-- Analytics -->
        <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38527094-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
    </head>
    <body>
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=533004283446886";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
      </script>

       <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
             <div class="subtitle">
              Startup, Geek, Opensource..  
             </div>
            <div class="header-border">
            <br />
          </div>
         <div id="main">

          {{ content }}

         <div class="footer">
            <div class="footer-text">
          Generated by <a href="http://jekyllrb.com">Jekyll</a> and Powered by <a href="http://pages.github.com">Github</a>
           </div><!--footer text-->
         </div><!--footer-->
         <br />
         <br />


             </div><!--main-->
         
           <div id="gap">
           </div>
           <div id="sidebar">
            <br />
              <img src="/images/openhiun.jpg" width="180px">
              <br /><br />
Contact Info
<div class="header-border">
          </div>
          <b>Hiun Kim</b><br />
          openhiun@gmail.com<br />
Technical Entrepreneur and<br />CEO at Springvil
          <br /><br />
          Twitter
          <div class="header-border">
          </div>
          <a href="https://twitter.com/openhiun" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @openhiun</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br /><br />
Syndication
<div class="header-border">
          </div>
   <img src="/images/feed.gif"> Subscribe this blog's<br />
   <a href="/atom.xml">atom feed</a> or <a href="/feed.xml">rss feed</a>
   <br /><br />
Personal Projects
<div class="header-border">
          </div>
   <a href="/glee/">Glee</a> - A simple env variable editor.
<br /><br />
Policy
<div class="header-border">
          </div>

  <center>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Every content of this blog</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
</center>
<br />
<br />
<img id='chrome' src='/images/chrome.png' style='position:absolute' width="200px" />
          

              


          </div><!--sidebar-->



         </div><!--header-->
      </div><!--site-->
    </body>
</html>
